# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages for Data Science
* List of frequently used libraries for Data Science
* Simple arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib
5. Tensorflow

| Data Science Tools | 
| -------------|
| JupyterLab |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
minutes_to_hours = minutes / 60
print(f"{minutes} minutes into hours is {minutes_to_hours:.1f} hours")

200 minutes into hours is 3.3 hours

## Author

Jaden Rivera